[submodule "src/pie_core/external/nanobind"]
	path = src/pie_core/external/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "src/pie_core/external/spdlog"]
	path = src/pie_core/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/pie_core/external/tokenizers"]
	path = src/pie_core/external/tokenizers
	url = https://github.com/TheProxyCompany/tokenizers-cpp.git
[submodule "src/pie_core/external/proxy-attention-lab"]
	path = src/pie_core/external/proxy-attention-lab
	url = https://github.com/TheProxyCompany/proxy-attention-lab.git
